/* ==========================================================================
   CSS VARIABLES (ROOT)
   All CSS custom properties used in the header and navigation
   ========================================================================== */

:root {
    --primary-color: #E3051B;
    --secondary-color: #000;
    --default-color: #18a6ef;
    --dark-color: #000;
    --white-color: #FFF;
    --menu-light-primary-color: #EC4D5A;
    --menu-bg-light-color: #FEDFDE;
    --loader-transparent-color: rgb(65 63 63 / 29%);
    --store-remove-btn: #e01d26;
    --search-input-radius: 40px;
    --search-btn-bg-color: #E3051B;
    --search-btn-radius: 100%;
    --search-input-height: 41px;
    --search-input-focus: #FFF;
    --search-input-width-wide: 578px;
    --text-focus-element: #edf7fd;
    --otp-input-radius: 40px;
    --error-color: #DF280A;
    --notice-color: #E26703;
    --warning-color: #FFCF26;
    --sucess-color: #34CA06;
    --sucess-bg-light-color: #d3ffc5;
    --dark-primary-color: #C9061A;
    --rma-cart-color: #EED109;
    --light-loginas-bg: #feffb9;
    --grey-color-tone-one: #767474;
    --grey-color-tone-two: #818182;
    --grey-color-tone-three: #545454;
    --grey-color-tone-four: #656565;
    --grey-color-tone-five: #C4C4C4;
    --grey-color-tone-six: #EFEFEF;
    --grey-color-tone-seven: #DEDEDE;
    --grey-color-tone-eight: #F3F3F3;
    --grey-color-tone-nine: #A9A9A9;
    --grey-color-tone-ten: #2c2c2c;
    --grey-color-tone-eleven: #FAFAFA;
    --box-shadow-color-one: rgba(0, 0, 0, .3);
    --box-shadow-color-two: rgba(194, 194, 194, .52), 0 -2px 3px rgba(194, 194, 194, .42);
    --box-shadow-color-three: rgba(0, 0, 0, .1);
    --box-shadow-color-four: rgba(0, 0, 0, .19);
    --box-shadow-color-five: rgba(194, 194, 194, .38), 2.38661px 1.98884px 5.96653px rgba(163, 163, 163, .25);
    --box-shadow-color-six: rgba(0, 0, 0, .25);
    --box-shadow-color-seven: rgb(0 0 0/13%);
    --box-shadow-color-eight: rgb(0 0 0/5%);
    --box-shadow-color-nine: rgba(127, 127, 127, 0.63);
    --box-shadow-color-ten: rgb(44 44 44 / 35%);
    --header-sprites-bg: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/header-img/header-sprite-icons.svg);
    --menu-stick-pin: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/sprites/ic-menu-pin.svg?ver=1.0);
    --lcd-buyback-accordian-arrow: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/lcd-buyback/accordian-arrow.svg);
    --default-loader-icon: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/default-loader-icon.png);
    --ct-block-none: inline-block;
    --search-block-width: 356px;
    --margin-diff: 14px 0;
    --border-pattens-blue: #9dd1ff;
    --margin-diff: 14px 0;
    --brain-text-border-color: #008000;
    --brain-text-bg-color: rgb(182 255 182 / 17%);
    --brain-placeholder-color: #65ac65;
    --my-account-blue-color: #0e2e56;
    --fedex-label-color: #4d138c;
    --my-account-sprite-bg: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/sprites/account-information-sprite.svg?ver=2.0);
    --common-my-order-primary-color: #FB776F;
    --my-account-arrow-bg: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/order-page-sprites/top-arrow.svg);
    --out-of-stock-loginas-color: #faa7a3;
    --fedex-bg-color: #f9590417;
    --royal-mail-bgcolor: #da202a24;
    --ups-bg-color: #fab80b2b;
    --usps-bg-color: #0d4b8717;
    --contact-call: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/mobilesentrix.png);
    --contact-mail: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/mobilesentrix.png);
    --privacy-statement: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/mobilesentrix.png);
    --faq-que-ico: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/faq/faq-que-ans.png);
    --faq-sprite: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/faq/faq-sprite.png);
    --fedex-sprites: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/sprites/fedexaddresssprites.svg?ver=2.0);
    --bb-accordian-title-color: #e1f5ff;
    --category-ico: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/category-ico.svg);
    --login-light-bcolor: #FFF8F7;
    --login-success-color: #deffde;
    --login-error-color: #FFF8F7;
    --login-success-text-color: #008000;
    --auth-login-bg-logo: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/pos-ms-logo-1_2.svg);
    --ship-desk-pic: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/shipping-page-image/free-shipping-bg.png);
    --ship-mob-pic: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/shipping-page-image/mobile-bg-image.png);
    --ms-container-padding: 26px 15px;
    --xx-logo-width: 140px;
    --xx-margin-diff: 14px 0;
    --my-acc-dropdown: 172px;
    --m-margin-right: initial;
    --m-search-margin: initial;
    --m-account-margin: initial;
    --m-ac-full-width: 50%;
    --m-service-width: 18%;
    --m-service-width-ipad: 30%;
    --m-search-width-dt: 28%;
    --m-search-width-dt2: 35%;
    --m-search-width-dt3: 27%;
    --m-search-width-dt4: 20%;
    --m-serch-margin-xs: initial;
    --ms-benefit-block-bg: #FBFBFB;
    --ms-comment-block-bg: #FAFAFA;
    --signin-text-box-bg: #f3f3f3;
    --signin-text-shadow: rgba(0, 0, 0, 0.25);
    --signin-text-bcvalue: none;
    --signin-plus-bshadowval: 0px 0px 3.39344px rgb(32 32 32 / 25%);
    --signin-plus-borderval: 0.5px solid #efefef;
    --signin-border-over: 0;
    --signin-icon: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/sprites/login0icon.svg);
    --custum-moto-width: 48.5%;
    --menu-search-btn-bg: #000;
    --menu-search-btn-img: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/header-img/search.svg);
    --padding-menu-left: 70px;
    --diff-primary-color: var(--primary-color);
    --shipping-primary-color: var(--primary-color);
    --preorder-bg-color: #cfffb4;
    --preorder-btn-bg: #328007;
    --site-main-sprites: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/sprites/mobilesentrix.png);
    --tc-light-primary-color: rgb(231 50 52 / 22%);
    --faq-bg-light: rgba(255, 2, 2, 0.03);
    --link-cms-color: #18a6ef;
    --login-popup-sprite: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/sprites/login-info.svg);
    --amp-content-bg: #D9B326;
    --amp-content-light-bg: #EED87F;
    --light-black-color-one: #494949;
    --red-color-light-one: #F10013;
    --pink-dashboard-color: #FB776F;
    --green-dashboard-color: #579651;
    --d-success-bgcolor: #E6F3E5;
    --d-danger-bgcolor: #FEEAEA;
    --d-success-color: #579651;
    --d-danger-color: #F10600;
    --store-login-height: auto;
    --light-green-color: #ECF9EE;
    --light-orange-color: #FFBE5C;
    --light-orange-color-opacity-one: rgba(255, 190, 92, 0.10);
    --light-orange-color-opacity-two: rgba(241, 6, 0, 0.05);
    --light-red-color: #FEF3F2;
    --light-red-color-second: #FF665C;
    --light-red-color-three: #FB776F;
    --dark-red-color: #E0051C;
    --light-grey-color-second: #949393;
    --light-grey-color-three: #D9D9D9;
    --light-grey-color-four: #606060;
    --light-yellow-color: #FFF2DB;
    --light-black-color: #252525;
    --light-black-color-second: #444;
    --dark-yellow-color: #F9A000;
    --light-white-color: #F9F9F9;
    --light-green-color-second: #8DC138;
    --light-green-color-third: rgba(48, 184, 37, 0.20);
    --kbb-dashboard-red-color: #F10600;
    --crr-dashboard-red-color: #F10600;
    --light-box-shadow-color-one: 0px 0.374px 2.992px 0px rgba(0, 0, 0, 0.14);
    --light-grey-color-five: #454545;
    --light-pink-color: #FFE3E6;
    --light-grey-color-six: #C1C1C1;
    --dark-black-color-second: #343434;
    --light-grey-color-seven: #E2E4EB;
    --listing-popup-shape-one: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/list-pop-1.png);
    --listing-popup-shape-two: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/list-pop-2.png);
    --listing-cart-shape-img: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/images/listing-pop-cart-img.png);
    --light-redbg-color: #FFF1F2;
    --gray-plus-icon: #5F5F5F;
    --light-success-bgcolor: #F5FFF6;
    --light-red-bgcolor: #FFF5F6;
    --green-bgcolor: #6FD38B;
    --store-credit-success-color: #4DBE82;
    --dark-black-color: #474747;
    --dark-black-color-one: #333;
    --dark-black-color-two: #828282;
    --dark-black-color-three: #DDDDDD;
    --dark-black-color-four: #423A3A;
    --grey-border-color: #C5C5C5;
    --grey-title-bgcolor: #F8F8F8;
    --edit-btn-bgcolor: #FFF2F2;
    --bb-checkout-title-color: #e7f5ff;
    --right-sidebar-bg: #f9f9f9;
    --scrollbar-thumb-bg: #d9d9d9;
    --btn-disabled-bg: #8D8D8D;
    --input-placeholder-color: #AEAEAC;
    --checkbox-link-color: #2295ff;
    --tooltip-color: #414141;
    --light-gray-bg: #F4F4F4;
    --paypal-btn-bg: #F5BF00;
    --best-option-yellow: #DC9A02;
    --bg-checkout-title-yellow: #F7D550;
    --dark-gray-color-c6: #c6c6c6;
    --bg-disabled-bg: #E9E9E9;
    --address-disable-before-color: #b0b0b0;
    --green-gr-panel-bg: #d3ffc5;
    --green-gr-thick-border: #38c133;
    --green-gr-cmn-radio: #38c133;
    --green-gr-arrow: #0c8507;
    --red-gr-panel-bg: #FFECEE;
    --red-gr-thick-border: #fb5e52;
    --red-gr-cmn-radio: #F44336;
    --red-gr-arrow: #F44336;
    --reserve-order-bg: #fff0c1;
    --smethods-bluegr-light-bg: #D2EEFC;
    --smethods-bluegr-bg: #79CBF6;
    --addresspopup-light-bcolor: rgba(255, 236, 238, 1);
    --bb-address-title-color: #E7F5FF;
    --success-text-clr: #00A14B;
    --sucess-btn-bg: #EBFAF2;
    --saved-cart-bg-color: #FFF1F1;
    --banner-bg-color: #E9F5FD;
    --reseve-stock-li-bg: #f5f5f5;
    --resever-link-color: #179BD7;
    --reserve-label-color: #949393;
    --reserve-disabled-color: #8A8A8A;
    --reserve-border-color: #C8C8C8;
    --reserve-foot-border-color: #7C7C7C;
    --reserve-select-border: #D9D9D9;
    --filter-left-arrow-color: #666666;
    --filter-li-border: #DBDBDB;
    --filter-clear-color: #FF808D;
    --filter-bg-selected-color: #EEEEEE;
    --filter-bg-font-color: #505050;
    --filter-listing-color: #2E2E2E;
    --filter-checkbox-border: #7D7D7D;
    --netterm-paragraph-color: #636363;
    --netterm-creditlabel-color: #8D8D8C;
    --credit-past-color-red: #DE0F26;
    --credit-past-color-green: #4BC66D;
    --netterm-link-color: #179BD7;
    --netterm-edit-censel-link: #2295FF;
    --total-box-color: #F10600;
    --neterm-cform-control-color: #626262;
    --neterm-cform-control-fcolor: #1D1D1B;
    --nt-healthprocess-color: #C7C7C7;
    --nt-orange-after-color: #FF8413;
    --nt-grey-color: #F5F5F5;
    --nt-tab-color: #4E4E4E;
    --nt-tab-border: #C8C8C8;
    --nt-downpay-btnborder: #DADADA;
    --nt-webkit-placeholder: rgba(204,204,204,0);
    --nt-progressbar-color: #FF6F6F;
    --nt-payment-see-btn: #6A6A6A;
    --nt-dashboard-color: #8b8b8b;
    --nt-scrollbar-thumb: #E7E7E7;
    --nt-invoice-span-color: #CFCFCF;
    --product-related-border-color: #FFE4E4;
    --product-related-font-color: #CE3C39;
    --product-recent-border-color: #C8E5F1;
    --product-recent-font-color: #4A86A1;
    --status-shipped-bgcolor: #D3F3DA;
    --status-shipped-color: #6FA97C;
    --status-canceled-bgcolor: #FFE7E9;
    --status-canceled-color: #DE0F26;
    --status-processing-bgcolor: #DCF2FF;
    --status-processing-color: #8A9EAA;
    --status-preorder-bgcolor: #D3E1F3;
    --status-preorder-color: #7B93B2;
    --status-reservedstock-bgcolor: #FFE8E0;
    --status-reservedstock-color: #C38672;
    --status-paymentpending-bgcolor: #F7DEB3;
    --status-paymentpending-color: #988462;
    --status-onhold-bgcolor: #FFF4A0;
    --status-onhold-color: #B2A43B;
    --status-readytopickup-bgcolor: #F3E2FC;
    --status-readytopickup-color: #8F8594;
    --status-approvalrequired-bgcolor: #FFF4D9;
    --status-approvalrequired-color: #B09C6C;
    --credit-limit-exeed-bgcolor: #FFF8EB;
    --credit-limit-exeed-color: #E29306;
    --credit-limit-ok-bgcolor: #F3FFF2;
    --credit-limit-ok-color: #23A219;
    --nfilter-apply-color: #383838;
    --blue-link: #67AFFF;
    --gray-light: #D8D8D8;
    --blue-primary: #007AFF;
    --gray-bg: #F7F7F7;
    --gray-border: #C9C9C9;
    --gray-text: #939393;
    --blue-label-bg: #DCDFFF;
    --blue-label-text: #0F1452;
    --blue-label-secondary: #0B4868;
    --blue-label-bg-light: #C7EBFF;
    --gray-card-bg: #E5E5E5;
    --color-black: #1A1A1A;
    --tital-text-color: #C4C4C4;
    --dark-gray-text: #797979;
    --na-paragraph-color: #727272;
    --na-link-color: #0084FF;
    --gray-hover-bgcolor: #F7F7F7;
    --astric-color: #F10600;
    --validation-failed-bgcolor: #FEF3F2;
    --validation-failed-color: #F10600;
    --isvalidation-true-color: #00A657;
}

:root {
    --iti-hover-color: rgba(0, 0, 0, 0.05);
    --iti-border-color: #CCC;
    --iti-dialcode-color: #999;
    --iti-dropdown-bg: white;
    --iti-spacer-horizontal: 8px;
    --iti-flag-height: 20px;
    --iti-flag-width: 20px;
    --iti-border-width: 1px;
    --iti-arrow-height: 4px;
    --iti-arrow-width: 6px;
    --iti-triangle-border: calc(var(--iti-arrow-width) / 2);
    --iti-arrow-padding: 6px;
    --iti-arrow-color: #555;
    --iti-path-flags-1x: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/css/images/allcountry-flags-sprites.svg?ver=1.0);
    --iti-path-flags-2x: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/css/images/allcountry-flags-sprites.svg?ver=1.0);
    --iti-path-globe-1x: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/css/images/globe.webp);
    --iti-path-globe-2x: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/css/images/globe@2x.webp);
    --iti-flag-sprite-width: 5200px;
    --iti-flag-sprite-height: 20px;
    --iti-mobile-popup-margin: 30px;
    --iti-path-flags-2sprite-1x: url(https://static.mobilesentrix.com/skin/frontend/msentrix2022/default/css/images/fourcountry-sprites.svg);
    --iti-flag-sprite2-width: 80px;
}

